## Build outputs & intermediate files
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Inno Setup output
Output/
bin/Installer/

## Key files & local caches
*.snk
*.db
*.log

## Visual Studio / VS Code
.vs/
.vscode/
